body {
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

#certificatePreview {
    margin-top: 20px;
}

#downloadButton {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
